<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IDD</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
 
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fonts CSS -->
    <link href="css/fonts.css" rel="stylesheet">

    <!-- Video CSS -->
    <link href="css/video.css" rel="stylesheet">
      <script src="libs/underscore.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

 
</head>

<body  ng-app="idd">
    <div ng-controller="imagesCtrl">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img
                            class="img-logo"
                            src="img/logo.png" alt="IDD"
                        >
                    </a>
                </div>
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">
            <!-- Video Content -->
            <div class="row">
                <div class="img-responsive video-content embed-responsive embed-responsive-16by9" >
                      <iframe src="https://www.youtube.com/embed/yKioCxLRNLU?rel=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1" frameborder="0" allowfullscreen></iframe>
                  </div>
            </div>
        
        

            <!-- Portfolio Item Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="txt-header">{{text.title}}</h5>
                    <p class="txt-body" ng-repeat="txt in text.description">
                        {{txt}} 
                   </p>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                    <img class="img-responsive img-principal" ng-src="{{principal_url_image}}" alt="">
            </div>
            <!-- Related Projects Row -->
            <div class="row">
                <div class="col-xs-3 img-col" ng-repeat="image in images_footers" ng-click="selectImg(image.url);" >
                   <img  class="img-responsive portfolio-item" ng-src="{{image.url}}" alt="">
                </div>
            </div>
            <!-- /.row -->

           

             <!-- Footer -->
             <hr>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                       <!-- <p>Copyright &copy; Your Website 2014</p> -->
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- /.container -->

  
    
    <script src="libs/angular.min.js"></script>
    
    <!-- jQuery -->
    <script src="libs/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="libs/bootstrap.min.js"></script>

    <script src="js/app.js"></script>
     <script src="js/controllers.js"></script>

</body>

</html>
