<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MUSEO CASA DE RIVERA</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
 
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fonts CSS -->
    <link href="css/fonts.css" rel="stylesheet">

    <!-- Video CSS -->
    <link href="css/video.css" rel="stylesheet">
      <script src="libs/underscore.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

 
</head>

<body  ng-app="idd">
    <div ng-controller="imagesCtrl">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img
                            class="img-logo"
                            src="img/logo.png" alt="IDD"
                        >
                    </a>
                </div>
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <!-- Video Content -->
        <div class="video-content embed-responsive embed-responsive-16by9" >
            <iframe src="https://www.youtube.com/embed/L5_OXtqn3mg?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="container">
        

            <!-- Portfolio Item Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="txt-header">MUSEO CASA DE RIVERA</h5>
                    <p class="txt-body">
                        Una de la construcciones históricas más importantes a nivel nacional realizada en el año 1835 por mandato del General Fructuoso Rivera con destino a residencia particular y sede de la Comandancia General de la Campaña.
                    </p>
                    <p class="txt-body">
                        Ofició de Casa de Gobierno Presidencial, única en su género en el país y posteriormente de Cuartel y Cárcel.
                    </p>
                    <p class="txt-body">
                        Declarada Monumento Histórico Nacional cuenta con un área arqueológica donde se exhibe un aljibe , que se reconoce como uno de los más grandes de Durazno y se sabe de la existencia de otros restos arqueológicos como los posiblemente legendarios túneles.
                    </p>
                    <p class="txt-body">
                        Cuenta con valiosas colecciones de objetos y documentos de diversas épocas que permiten revivir nuestra historia.
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
            <img class="img-responsive img-principal" ng-src="{{principal_url_image}}" alt="">
        <div class="container">    
            <!-- Related Projects Row -->
            <div class="row">
                <div class="col-xs-3 img-col" ng-repeat="image in images_footers" ng-click="selectImg(image.url);" >
                   <img  class="img-responsive portfolio-item" ng-src="{{image.url}}" alt="">
                </div>
            </div>
            <!-- /.row -->

           

            <!-- Footer 
             <hr>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
                
            </footer>
            -->
        </div>
    </div>

    <!-- /.container -->

  
    
    <script src="libs/angular.min.js"></script>
    
    <!-- jQuery -->
    <script src="libs/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="libs/bootstrap.min.js"></script>

    <script src="js/app.js"></script>
     <script src="js/controllers.js"></script>

</body>

</html>
